%footer
  .site-map
    %ul
      %li
        %a
          Link 1
      %li
        %a
          Link 2
      %li
        %a
          Link 3
      %li
        %a
          Link 4
      %li
        %a
          Link 5
    .contact
      %span For questions, call:
      %a.phone{:href => "tel:5551234567"} (555)-123-4567
  .copyright
    %p EndoBarrier is an investigational device and is limited by United States law to investigational use. EndoBarrier is a registered trademark of GI Dynamics, Inc. © 2015 GI Dynamics, Inc. All rights reserved.