!!!
%html
  %head

    %title
      = content_for? :app_title ? yield :app_title : 'App Boilerplate'

    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks: { track: true } }


  %body